#folderViewer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 55rem
}

.labelRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 8% 12% 20% 20%;
    width: 100%;
    background-color: rgb(79, 79, 79);
    color: white;
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.folderRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 8% 12% 20% 20%;
    width: 100%;
    background-color: rgb(215, 215, 215);
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.fileRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 8% 12% 20% 20%;
    width: 100%;
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.parentFolder {
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: white;
    text-align: left;
    text-indent: 0.3rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.currentFolder {
    display: inline-grid;
    grid-template-columns: 2% 47% 28% 10%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.folderRowForm {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(215, 215, 215);
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

#addFolderToggle {
    border: none;
    background-color: rgb(215, 215, 215);
    font-style: italic;
    font-size: 1rem;
}

.newFolderForm {
    display: inline-grid;
    grid-template-columns: 40% 20% 20%;
    width: 30rem;
}

.newFolderForm input {
    background-color: rgb(169, 169, 169);
    border: 1px solid black;
}

.newFolderForm > button {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
}

.fileRowForm {
    display: flex;
    justify-content: center;
    width: 30rem;
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}
#addFileToggle {
    border: none;
    background-color: white;
    font-size: 1rem;
}


#trashButton {
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid black;
    background-color: rgb(255, 210, 210);
}

#trashFolderViewer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 55rem
}

.trashFileRow {
    display: inline-grid;
    grid-template-columns: 2% 32% 8% 12% 20% 20% 6%;
    width: 100%;
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

#backButton {
    margin-top: 1rem;
    border-radius: 0;
    border: 1px solid black;
    background-color: rgb(188, 255, 179);
}

.permDelete {
    border: 1px solid black;
    width: 2rem;
    background-color: rgb(255, 90, 90);
}