#folderViewer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 50rem
}

.labelRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 10% 10% 20% 20%;
    width: 100%;
    background-color: rgb(215, 215, 215);
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.folderRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 10% 10% 20% 20%;
    width: 100%;
    background-color: rgb(215, 215, 215);
    text-align: left;
    text-indent: 0.6rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.fileRow {
    display: inline-grid;
    grid-template-columns: 2% 38% 10% 10% 20% 20%;
    width: 100%;
    text-align: left;
    text-indent: 0.9rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

#parentFolder {
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: white;
    text-align: left;
    text-indent: 0.3rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}

.currentFolder {
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 0.2rem 0rem 0.2rem 0rem;
    border: 0.5px solid rgb(82, 82, 82);
}
